/*Fonts*/
@font-face {
    font-family: 'lemon_milkbold';
    src: url('../fonts/LEMONMILK-BOLD.woff2') format('woff2'),
         url('../fonts/lemonmilk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'lemon_milklight_italic';
    src: url('/fonts/lemonmilk-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/lemonmilk-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'lemon_milkbold_italic';
    src: url('../fonts/LEMONMILK-BOLDITALIC.woff2') format('woff2'),
         url('../fonts/lemonmilk-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'lemon_milkmedium_italic';
    src: url('../fonts/lemonmilk-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/lemonmilk-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'lemon_milkregular_italic';
    src: url('../fonts/lemonmilk-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/lemonmilk-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'lemon_milklight';
    src: url('../fonts/lemonmilk-light-webfont.woff2') format('woff2'),
         url('../fonts/lemonmilk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'lemon_milkmedium';
    src: url('../fonts/LEMONMILK-MEDIUM.woff2') format('woff2'),
         url('../fonts/lemonmilk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'lemon_milkregular';
    src: url('../fonts/LEMONMILK-REGULAR.woff2') format('woff2'),
         url('../fonts/lemonmilk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
.lemon-milk-bold{
    font-family: 'lemon_milkbold';}
.lemon-milk-medium{
    font-family: 'lemon_milkmedium';}
.lemon-milk-medium{
    font-family: 'lemon_milkmedium_italic';}
.lemon-milk-italic{
    font-family: 'lemon_milklight_italic';}
.lemon-milk{
    font-family: 'lemon_milkregular';}
.lemon-milk-italic{
    font-family: 'lemon_milkregular_italic';}
.lemon-milk-light{
    font-family: 'lemon-milklight';}

/*Regular CSS*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
}

a{
    color:#FF6060;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.nav-bar{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    margin-top: 20px;
}

.nav-bar-link {
    color: white;
    margin: 10px;
    font-size: 25px;
    text-decoration: none;
    font-family: 'lemon_milkregular';
}

.nav-bar-link:hover {
    color: rgb(227, 227, 227);
}

#active-nav {
    color: #FF6060;
}

.title {
    text-align: center;
    font-size: 70px;
    color: white;
    font-family: 'lemon_milkbold';

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1300px;

}

/*Product*/

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
    background-color: white;
    width: 450px;
    height: 600px;
    margin: 40px;
}

.product-image {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.product-title {
    font-family: 'lemon_milkregular';
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.product-price {
    font-family: 'lemon_milkregular';
    color:#FF6060;
    font-size: 20px;
}

.add-to-cart-button {
    font-family: 'lemon_milkregular';
    border-radius: 10px;
    padding: 10px;
    border-color: #FF6060;
    color:#FF6060;
    background-color: white;
}

.add-to-cart-button:hover {
    color: white;
    background-color: #FF6060;
}

.what-we-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.subtitle {
    display: flex;
    font-size: 50px;
    font-family: 'lemon_milkmedium';
    color: white;
}

.what-we-do-text {
    font-family: 'lemon_milkregular';
    color: white;
    font-size: 30px;
}



.browse-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-us-content {
    width: 1300px;
    margin-bottom: 40px;
}

.about-us-text {
    font-family: 'lemon_milkregular';
    color:white;
    font-size: 25px;
}

.about-us-image {
    height: 800px;
}




/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0B0B0B;
}

.footer-title {
    font-family: 'lemon_milkbold';
    font-size: 35px;
    color: white;
}


.footer-links {
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.footer-link {
    font-family: 'lemon_milkregular';
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.footer-link:hover {
    color: rgb(227, 227, 227);
}

.footer-contacts {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.contact-icon {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.footer-contact-text {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-family: 'lemon_milkregular';
}